<a href="https://colab.research.google.com/github/simseulnyang/Python-300-for-beginners/blob/main/Python_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 초보자를 위한 파이썬 300제

## 101번 ~ 130번 : 파이썬 분기문
* 파이썬은 if라는 키워드를 통해 분기문을 만들 수 있습니다.

In [ ]:
# 101번 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

# 정답 : 'bool' 타입

In [1]:
# 102번 아래 코드의 출력 결과를 예상하라

print(3 == 5)

# False

False

In [2]:
# 103번 아래 코드의 출력 결과를 예상하라

print(3 < 5)

# True

True

In [3]:
# 104번 아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

# True

True

In [4]:
# 105번 아래 코드의 결과를 예상하라.

print ((3 == 3) and (4 != 3))

# True

True

In [ ]:
# 106번 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)

# 위의 연산자는 지원하지 않는 연산자이다.

In [6]:
# 107번 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World")

# 아무것도 출력되지 않는다. (조건을 만족하지 않기 때문)

In [7]:
# 108번 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

# else에서 들여쓰기 된 문장 'Hi, there.'이 출력된다. (조건을 만족하지 않기 때문에 else에서 들여쓰기 된 문장이 실행됩니다.)

Hi, there.

In [8]:
# 109번 아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

# if 조건이 'True'이기 때문에 if문에서 들여쓰기 한 값인 '1', '2' 그리고 '4'가 출력된다.

1
2
4

In [9]:
# 110번 아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

# if문이 True 이면서 False 값을 출력해야 하기 때문에 '3' 과 '5'가 출력된다.

3
5