<a href="https://colab.research.google.com/github/simseulnyang/Python-300-for-beginners/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 초보자를 위한 파이썬 300제

## 1번 ~ 10번 : 파이썬 시작하기
* print 함수와 관련된 문제를 풀어봅시다.

In [ ]:
# 1번 화면에 Hello World 문자열을 출력하세요

print('Hello World')

Hello World

In [ ]:
# 2번 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
# 3번 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
# 신씨가 소리질렀다. "도둑이야".

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [ ]:
# 4번 화면에 "C:\Windows"를 출력하세요.

print('"C:\Windows"')

"C:\Windows"

In [ ]:
 # 5번 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
 # print("안녕하세요.\n만나서\t\t반갑습니다.")

 # \n -> 줄바꿈
 # \t -> tab

In [ ]:
# 6번 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
# print ("오늘은", "일요일")

print("오늘은", "일요일") # 오늘은 다음에 공백이 하나 있고, 일요일이 출력됨

오늘은 일요일

In [ ]:
# 7번 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung

print(('naver kakao sk samsung').replace(' ', ';'))

#정답
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [ ]:
# 8번 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung

print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [ ]:
# 9번 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. 
# (힌트: end='') print 함수는 두 번 사용합니다. 
#                세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
#print("first");print("second")

print("first", end=' ');print("second")

first second

In [ ]:
# 10번 5/3의 결과를 화면에 출력하세요.
print(5/3)

1.6666666666666667

## 11번 ~ 20번 : 파이썬 변수
* 파이썬 변수는 자주 사용되는 값을 바인딩합니다. 
* 파이썬 변수의 개념을 이해하고 문제를 풀어봅시다.

In [ ]:
# 11번 삼성전자라는 변수로 50,000원을 바인딩해보세요. 
# 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
보유주식 = 10
총_평가금액 = 삼성전자 * 보유주식

print(총_평가금액)

500000

In [ ]:
# 12번 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
# 13번 두 변수를 이용하여 아래와 같이 출력해보세요. (s = 'hello', t = 'python')
# 실행 예: hello! python

s = 'hello'
t = 'python'

print(s + '! ' + t)
print(s + '!', t)

hello! python
hello! python

In [ ]:
# 14번 아래 코드의 실행 결과를 예상해보세요.
# >> 2 + 2 * 3 

8

8

In [ ]:
# 15번 type() 함수는 데이터 타입을 판별합니다. 
# 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

'''
>> a = 128
>> print (type(a))
<class 'int'>
'''

# 아래 변수에 바인딩된 값의 타입을 판별해보세요.
a = "132"

print(type(a))

<class 'str'>

In [ ]:
# 16번 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

a = int(num_str)
print(a, type(a))

720 <class 'int'>

In [ ]:
# 17번 정수 100을 문자열 '100'으로 변환해보세요.

num = 100

num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [ ]:
# 18번 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

a = "15.79"

b = float(a)
print(b, type(b))

15.79 <class 'float'>

In [ ]:
# 19번 year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 
# 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2023"

year_int = int(year)
print(type(year_int))
print(year_int, year_int - 1, year_int - 2)

<class 'int'>
2023 2022 2021

In [ ]:
# 20번 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다.
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

monthly_cost = 48584
months = 36

총_금액 = 48584 * 36
print(총_금액)

1749024

## 21번 ~ 50번 : 파이썬 문자열
* 파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메서드를 제공합니다.

In [ ]:
# 21번 letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'

print(letters[0], letters[2])

p t

In [ ]:
# 22번 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"

print(license_plate[4:])
print(license_plate[-4:])

2210
2210

In [ ]:
# 23번 아래의 문자열에서 '홀' 만 출력하세요.
string = "홀짝홀짝홀짝"

print(string[::2])

홀홀홀

In [ ]:
# 24번 문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"

print(string[::-1])

NOHTYP

In [ ]:
# 25번 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

phone_number = "010-1111-2222"

print(phone_number.replace("-"," "))

010 1111 2222

In [ ]:
# 26번 25번 문제의 전화번호를 모두 붙여 출력하세요. (01011112222)

print(phone_number.replace("-",""))

01011112222

In [ ]:
# 27번 url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요. (kr)
url = "http://sharebook.kr"

print(url[-2:])

url_split = url.split(".")
url_split
print(url_split[1])

kr
kr

In [ ]:
# 28번 아래 코드의 실행 결과를 예상해보세요.

'''
>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)
'''
# 문자열은 수정할 수 없음. 문자열이 assignment 메서드를 지원하지 않음

TypeError: ignored

In [ ]:
# 29번 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'

print(string.replace('a','A'))

Abcdfe2A354A32A

'abcdfe2a354a32a'

In [ ]:
# 30번 아래 코드의 실행 결과를 예상해보세요.
'''
>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)
'''

# replace는 원본을 변경시키지 않기 때문에 'abcd'문자열 그대로 출력될 것

string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [ ]:
# 31번 아래 코드의 실행 결과를 예상해보세요.
'''
>> a = "3"
>> b = "4"
>> print(a + b)
'''

# 둘다 str(문자열)이기 때문에 '34'가 출력될 것이다. 덧셈기호는 문자열의 연결을 의미

34

In [ ]:
# 32번 아래 코드의 실행 결과를 예상해보세요
'''
>> print("Hi" * 3)
'''

# 'HiHiHi' 출력될 것 곱셈기호 및 기호 뒤의 숫자는 문자열의 반복 및 몇회 반복할 지 의미

HiHiHi

In [ ]:
# 33번 화면에 '-'를 80개 출력하세요.

print('-' * 80)

--------------------------------------------------------------------------------

In [ ]:
# 34번 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'

# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
'''
실행 예:
python java python java python java python java
'''

print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

In [ ]:
# 35번 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

'''
이름: 김민수 나이: 10
이름: 이철희 나이: 13
'''

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

print('이름: %s 나이: %d' % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 36번 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
# 37번 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
# 38번 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요

상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(',','')
타입변환 = int(컴마제거)

print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [ ]:
# 39번 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"

print(분기[:7])

2020/03

In [ ]:
# 40번 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

print(data.strip())
type(data)

삼성전자

str

In [ ]:
# 41번 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"

print(ticker.upper())

BTC_KRW

In [ ]:
# 42번 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"

print(ticker.lower())

btc_krw

In [ ]:
# 43번 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

string = 'hello'

print(string.capitalize())

Hello

In [ ]:
# 44번 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [ ]:
# 45번 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

In [ ]:
# 46번 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [ ]:
# 47번 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"
print(a.split(' '))

['hello', 'world']

In [ ]:
# 48번 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

In [ ]:
# 49번 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

날짜 = "2020-05-01"
print(날짜.split('-'))

['2020', '05', '01']

In [ ]:
# 50번 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

숫자문자 = "039490     "
print(숫자문자.rstrip())

039490

## 51번 ~ 70번 : 파이썬 리스트
* 파이선 리스트는 순서가 있고 수정 가능한 자료구조입니다.

In [ ]:
# 51번 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 
# 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)
'''
순위    	영화
1       닥터 스트레인지
2       	스플릿
3       	럭키
'''

movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(list(movie_rank))

['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
# 52번 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
# 53번 movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.
# "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
# 54번 movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
# 55번 movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
# 56번 lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
 
합집합 = lang1 + lang2
print(합집합)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
# 57번 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]

print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [ ]:
# 58번 다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]

print(sum(nums))

15

In [ ]:
# 59번 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [ ]:
# 60번 다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]

print(sum(nums) / len(nums))

3.0

In [ ]:
# 61번 price 변수에는 날짜와 종가 정보가 저장돼 있다. 
# 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
# 62번 슬라이싱을 사용해서 홀수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
# 63번 슬라이싱을 사용해서 짝수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
# 64번 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [ ]:
# 65번 interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']

# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.


'''
출력 예시:
삼성전자 Naver
'''

print(interest[0], interest[2])

삼성전자 Naver

In [ ]:
# 66번 interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

'''
출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
'''

print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
# 67번 interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

'''
출력 예시:
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
'''

print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
# 68번 interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

#join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

'''
출력 예시:
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우
'''

print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
# 69번 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"

# 이를 interest 이름의 리스트로 분리 저장하라.

'''
실행 예시
>> print(interest)
['삼성전자', 'LG전자', 'Naver']
'''

print(string.split('/'))

['삼성전자', 'LG전자', 'Naver']

In [ ]:
# 70번 리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]

print(sorted(data))

[1, 2, 3, 4, 5, 9, 10]

## 71번 ~ 80번 : 파이썬 튜플
* 파이썬 튜플은 순서가 있지만 수정 불가능한 자료구조입니다.

In [3]:
# 71번 my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()

type(my_variable)

tuple

In [5]:
# 72번 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 
# 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

'''
순위	영화
1	닥터 스트레인지
2	스플릿
3	럭키
'''

movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [9]:
# 73번 숫자 1 이 저장된 튜플을 생성하라. (하나의 정숫값을 저장하게 되면 파이선은 튜플이 아닌 정수로 인식함)

nums = (1, )

print(type(nums))

<class 'tuple'>

In [ ]:
# 74번 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

'''
>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment
'''

# tuple은 원소(element)의 값을 변경할 수 없음!

In [10]:
# 75번 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4

type(t)

# 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.

tuple

In [18]:
# 76번 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')
t = ('A', 'b', 'c')

print(t)

# 튜플은 원소의 값을 변경할 수 없기 때문에
# 새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다. 기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제됩니다.

('A', 'b', 'c')

In [21]:
# 77번 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')

data = list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [22]:
# 78번 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']

data2 = tuple(interest)
print(data2)

('삼성전자', 'LG전자', 'SK Hynix')

In [23]:
# 79번 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [24]:
fruit = ('pineapple', 'orange', 'peach')
a, b, c = fruit
print(a, b, c)

pineapple orange peach

In [29]:
# 80번 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

## 81번 ~ 100번 : 파이썬 딕셔너리
* 파이썬 딕셔너리는 순서는 없지만 key와 value 형태로 데이터를 저장합니다. 
* 특히 key는 데이터의 레이블(label)을 지정하는 용도로 자주 사용됩니다.

In [32]:
# 81번 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 
# 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 
# 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

'''
>> a, b, *c = (0, 1, 2, 3, 4, 5)
>> a
0
>> b
1
>> c
[2, 3, 4, 5]
'''

# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores

print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [1]:
# 82번 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때,
# start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [3]:
# 83번 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [5]:
# 84번 temp 이름의 비어있는 딕셔너리를 만들라.

temp ={}
print(type(temp))

<class 'dict'>

In [6]:
# 85번 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

'''
이름	희망 가격
메로나	1000
폴라포	1200
빵빠레	1800
'''

ice_cream={'메로나':1000, '폴라포':1200, '빵빠레':1800}

print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [7]:
# 86번 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

'''
이름	희망 가격
죠스바	1200
월드콘	1500
'''

ice_cream['죠스바'] = 1200
ice_cream['월드콘'] = 1500

print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [9]:
# 87번 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice_cream = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

print('메로나 가격:', ice_cream['메로나'])

메로나 가격: 1000

In [10]:
# 88번 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice_cream = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

ice_cream['메로나'] = 1300
print(ice_cream)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [15]:
# 89번 다음 딕셔너리에서 메로나를 삭제하라.

ice_cream = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

del ice_cream['메로나']
print(ice_cream)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 90번 다음 코드에서 에러가 발생한 원인을 설명하라.
'''
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'
'''

# icecream 딕셔너리에 '누가바'라는 key 값이 존재하지 않음. 딕셔너리에 없는 키를 사용해서 인덱싱하면 에러가 발생함.

In [16]:
# 91번 아래의 표에서, 아이스크림 이름을 키값으로, 
# (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

'''
이름	    가격   재고
메로나  	300	    20
비비빅  	400	    3
죠스바  	250	    100
'''

inventory = {'메로나':[300, 20], '비비빅':[400, 3], '죠스바':[250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [20]:
# 92번 inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.
inventory = {'메로나':[300, 20], '비비빅':[400, 3], '죠스바':[250, 100]}

print('메로나 가격:', inventory['메로나'][0], '원')

메로나 가격: 300 원

In [22]:
# 93번 inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.
inventory = {'메로나':[300, 20], '비비빅':[400, 3], '죠스바':[250, 100]}

print('메로나 재고:', inventory['메로나'][1], '개')

메로나 재고: 20 개

In [23]:
# 94번 inventory 딕셔너리에 아래 데이터를 추가하라.
inventory = {'메로나':[300, 20], '비비빅':[400, 3], '죠스바':[250, 100]}

'''
이름	가격	재고
월드콘	500  	7
'''
inventory['월드콘'] = [500, 7]

print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [25]:
# 95번 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [26]:
# 96번 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = list(icecream.values())
print(ice)

[1200, 1200, 1800, 1500, 1000]

In [29]:
# 97번 icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = list(icecream.values())
print('아이스크림 판매 금액:', sum(ice), '원')

아이스크림 판매 금액: 6700 원

In [30]:
# 98번 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [32]:
# 99번 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [34]:
# 100번 date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}