<a href="https://colab.research.google.com/github/simseulnyang/Python-300-for-beginners/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 초보자를 위한 파이썬 300제

## 1번 ~ 10번 : 파이썬 시작하기
* print 함수와 관련된 문제를 풀어봅시다.

In [ ]:
# 1번 화면에 Hello World 문자열을 출력하세요

print('Hello World')

Hello World

In [ ]:
# 2번 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
# 3번 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
# 신씨가 소리질렀다. "도둑이야".

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [ ]:
# 4번 화면에 "C:\Windows"를 출력하세요.

print('"C:\Windows"')

"C:\Windows"

In [ ]:
 # 5번 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
 # print("안녕하세요.\n만나서\t\t반갑습니다.")

 # \n -> 줄바꿈
 # \t -> tab

In [ ]:
# 6번 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
# print ("오늘은", "일요일")

print("오늘은", "일요일") # 오늘은 다음에 공백이 하나 있고, 일요일이 출력됨

오늘은 일요일

In [ ]:
# 7번 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung

print(('naver kakao sk samsung').replace(' ', ';'))

#정답
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [ ]:
# 8번 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung

print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [ ]:
# 9번 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. 
# (힌트: end='') print 함수는 두 번 사용합니다. 
#                세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
#print("first");print("second")

print("first", end=' ');print("second")

first second

In [ ]:
# 10번 5/3의 결과를 화면에 출력하세요.
print(5/3)

1.6666666666666667

## 11번 ~ 20번 : 파이썬 변수
* 파이썬 변수는 자주 사용되는 값을 바인딩합니다. 
* 파이썬 변수의 개념을 이해하고 문제를 풀어봅시다.

In [ ]:
# 11번 삼성전자라는 변수로 50,000원을 바인딩해보세요. 
# 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
보유주식 = 10
총_평가금액 = 삼성전자 * 보유주식

print(총_평가금액)

500000

In [ ]:
# 12번 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
# 13번 두 변수를 이용하여 아래와 같이 출력해보세요. (s = 'hello', t = 'python')
# 실행 예: hello! python

s = 'hello'
t = 'python'

print(s + '! ' + t)
print(s + '!', t)

hello! python
hello! python

In [ ]:
# 14번 아래 코드의 실행 결과를 예상해보세요.
# >> 2 + 2 * 3 

8

8

In [ ]:
# 15번 type() 함수는 데이터 타입을 판별합니다. 
# 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

'''
>> a = 128
>> print (type(a))
<class 'int'>
'''

# 아래 변수에 바인딩된 값의 타입을 판별해보세요.
a = "132"

print(type(a))

<class 'str'>

In [ ]:
# 16번 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

a = int(num_str)
print(a, type(a))

720 <class 'int'>

In [ ]:
# 17번 정수 100을 문자열 '100'으로 변환해보세요.

num = 100

num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [ ]:
# 18번 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

a = "15.79"

b = float(a)
print(b, type(b))

15.79 <class 'float'>

In [ ]:
# 19번 year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 
# 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2023"

year_int = int(year)
print(type(year_int))
print(year_int, year_int - 1, year_int - 2)

<class 'int'>
2023 2022 2021

In [ ]:
# 20번 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다.
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

monthly_cost = 48584
months = 36

총_금액 = 48584 * 36
print(총_금액)

1749024

## 21번 ~ 50번 : 파이썬 문자열
* 파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메서드를 제공합니다.

In [2]:
# 21번 letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'

print(letters[0], letters[2])

p t

In [21]:
# 22번 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"

print(license_plate[4:])
print(license_plate[-4:])

2210
2210

In [24]:
# 23번 아래의 문자열에서 '홀' 만 출력하세요.
string = "홀짝홀짝홀짝"

print(string[::2])

홀홀홀

In [25]:
# 24번 문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"

print(string[::-1])

NOHTYP

In [28]:
# 25번 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

phone_number = "010-1111-2222"

print(phone_number.replace("-"," "))

010 1111 2222

In [29]:
# 26번 25번 문제의 전화번호를 모두 붙여 출력하세요. (01011112222)

print(phone_number.replace("-",""))

01011112222

In [39]:
# 27번 url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요. (kr)
url = "http://sharebook.kr"

print(url[-2:])

url_split = url.split(".")
url_split
print(url_split[1])

kr
kr

In [40]:
# 28번 아래 코드의 실행 결과를 예상해보세요.

'''
>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)
'''
# 문자열은 수정할 수 없음. 문자열이 assignment 메서드를 지원하지 않음

TypeError: ignored

In [44]:
# 29번 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'

print(string.replace('a','A'))

Abcdfe2A354A32A

'abcdfe2a354a32a'

In [42]:
# 30번 아래 코드의 실행 결과를 예상해보세요.
'''
>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)
'''

# replace는 원본을 변경시키지 않기 때문에 'abcd'문자열 그대로 출력될 것

string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [47]:
# 31번 아래 코드의 실행 결과를 예상해보세요.
'''
>> a = "3"
>> b = "4"
>> print(a + b)
'''

# 둘다 str(문자열)이기 때문에 '34'가 출력될 것이다. 덧셈기호는 문자열의 연결을 의미

34

In [48]:
# 32번 아래 코드의 실행 결과를 예상해보세요
'''
>> print("Hi" * 3)
'''

# 'HiHiHi' 출력될 것 곱셈기호 및 기호 뒤의 숫자는 문자열의 반복 및 몇회 반복할 지 의미

HiHiHi

In [49]:
# 33번 화면에 '-'를 80개 출력하세요.

print('-' * 80)

--------------------------------------------------------------------------------