<a href="https://colab.research.google.com/github/simseulnyang/Python-300-for-beginners/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 초보자를 위한 파이썬 300제

## 1번 ~ 10번 : 파이썬 시작하기
* print 함수와 관련된 문제를 풀어봅시다.

In [1]:
# 1번 화면에 Hello World 문자열을 출력하세요

print('Hello World')

Hello World

In [2]:
# 2번 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

print("Mary's cosmetics")

Mary's cosmetics

In [3]:
# 3번 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
# 신씨가 소리질렀다. "도둑이야".

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
# 4번 화면에 "C:\Windows"를 출력하세요.

print('"C:\Windows"')

"C:\Windows"

In [ ]:
 # 5번 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
 # print("안녕하세요.\n만나서\t\t반갑습니다.")

 # \n -> 줄바꿈
 # \t -> tab

In [5]:
# 6번 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
# print ("오늘은", "일요일")

print("오늘은", "일요일") # 오늘은 다음에 공백이 하나 있고, 일요일이 출력됨

오늘은 일요일

In [7]:
# 7번 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung

print(('naver kakao sk samsung').replace(' ', ';'))

#정답
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [8]:
# 8번 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung

print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [12]:
# 9번 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. 
# (힌트: end='') print 함수는 두 번 사용합니다. 
#                세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
#print("first");print("second")

print("first", end=' ');print("second")

first second

In [13]:
# 10번 5/3의 결과를 화면에 출력하세요.
print(5/3)

1.6666666666666667

## 11번 ~ 20번 : 파이썬 변수
* 파이썬 변수는 자주 사용되는 값을 바인딩합니다. 
* 파이썬 변수의 개념을 이해하고 문제를 풀어봅시다.

In [14]:
# 11번 삼성전자라는 변수로 50,000원을 바인딩해보세요. 
# 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
보유주식 = 10
총_평가금액 = 삼성전자 * 보유주식

print(총_평가금액)

500000

In [15]:
# 12번 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [21]:
# 13번 두 변수를 이용하여 아래와 같이 출력해보세요. (s = 'hello', t = 'python')
# 실행 예: hello! python

s = 'hello'
t = 'python'

print(s + '! ' + t)
print(s + '!', t)

hello! python
hello! python

In [22]:
# 14번 아래 코드의 실행 결과를 예상해보세요.
# >> 2 + 2 * 3 

8

8

In [23]:
# 15번 type() 함수는 데이터 타입을 판별합니다. 
# 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

'''
>> a = 128
>> print (type(a))
<class 'int'>
'''

# 아래 변수에 바인딩된 값의 타입을 판별해보세요.
a = "132"

print(type(a))

<class 'str'>

In [ ]:
# 16번

In [ ]:
# 17번

In [ ]:
# 18번

In [ ]:
# 19번

In [ ]:
# 20번

In [ ]:
# 21번